.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.2rem;
}

.inputAndButtonContainer div {
    width: 50%;
}

.error {
    margin-top: 0.7rem;
    font-size: 1.4rem;
    color: #CC0000;
}

.input {
    width:50%;
    padding: 1rem 1.2rem;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.input:focus {
    outline: 1px solid lightgrey;
}

.errorInput {
    width: 50%;
    padding: 1rem 1.2rem;
    border: 1px solid #CC0000;
    border-radius: 5px;
}

.errorInput:focus {
    outline: 1px solid #CC0000;
}

.button {
    padding: 1rem 2.5rem;
    font-weight: 600;
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: #0066CC;
}

.button:focus {
    outline: none;
    opacity: 0.8;
}

.button:active {
    background-color: #0078ef;
}

.button:disabled {
    opacity: 0.5;
}

.text {
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.4rem;
    opacity: 0.5;
}

.greeting {
    font-weight: 500;
    font-size: 1.4rem;
}